@font-face {
    font-family:"Herculanum" ;
    src: url(fonts/HerculanumLTProRoman.TTF);
}

@media screen and (max-width: 500px) { 
    
}

main{
    display: block;
}
body{
    display: block;
}

header nav{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    padding: 10px 10px;
}


*{
    padding: 0;
    margin: 0;
    font-family: "Herculanum";
}

 main .mainimage img {
        width: 100%;


}


.logo1 {
    position: absolute;
    left: .5rem;
    top: .5rem;
    height: 70px;



}


header .search-bar input{
    position: relative;
    width: 90%;
    padding: 15px 10px;
    border: 2px solid #198593;
    border-radius: 12px;
    background-color: #fff;
    opacity: 0.4;
}

 .search-bar{
    position: absolute;
    top: 15%;
    right: 10px;
    width: 30%;
}


.fa-search{
    width: 60px;
    position: absolute;
    right: 2px;
    top: 25%;
}


input[type="text"]::placeholder {
    color: blue;
}


.search-bar input {
    width: 200px;
    background-color: white;
    border-radius: 1rem;
    border: .1rem solid wheat;

}


.popularplaces{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


h2{
    color: #198593;
    text-align: center;
    margin-top: 0;

}

p, h1{
    color: #198593;
    padding: 10px 0px;
}

p{
    font-size: medium;
    display: block;
    margin-block-start: 3em;
    margin-block-end: 3em;
    margin-inline-start: 2px;
    margin-inline-end: 2px;

}

.headings p{
    font-size: 50px;
    color: #198593;
    z-index: 0;
    text-align: center;
}


.text-img h2{
    text-align: left;
    padding: 10px 0px;
}

.category{
    background-color: rgba(158, 201, 230, 0.589);
    border-radius: 10%;
    width: 220px;
    height: 300px;
    text-align: center;
}
.category img{
    width: 220px;
    height: 250px;
   

}
#categories{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    text-align: center;

}
.category p{
    font-size: 20px;
    font-family: 'Metal Mania', cursive;
}
.grid-container{
        width: 80%;
        margin: 50px auto;   
}

.attractions .grid-container .places{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    width: 100%;
}

.img-items{
    position: relative;
}

.img-items img{
    
    width: 420px;
}
.like-img{
    padding: 0px;
    position: absolute;
    right: 7rem;
    top: 1rem ;
    font-size: 30px;
    
}

.places .text-img{
    font-family: Herculanum;
}

footer .copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

footer .privacy {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 40px;
    gap: 40px;
}
footer .privacy a {
    text-decoration: none;
    color: #198593;
    font-weight: bolder;
    font-size: 30px;
    cursor: pointer;
}

footer .version{
    text-align: center;
    border-top: 1px solid #198593;
}

div {
    display: block;
}

footer .version p{
    padding: 20px 0px;
}

footer{
    background-color: #f4f2f2;
    display: block;
}
footer .copyright img{
    width:200px;
}
